.gradle/
build/
**/build/

gradle-app.setting
gradle.properties

.idea/
*.iml
*.iws
*.ipr

*.log

*.apk
*.aab
*.ap_
*.dex

local.properties

*.jks
*.keystore

*.class

.DS_Store
Thumbs.db

com_crashlytics_export_strings.xml
crashlytics.properties
google-services.json
